:root {
  --background: oklch(1 0 0);
  --foreground: rgb(10, 10, 10);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: blue;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: aqua;
  --secondary-foreground: var(--primary-foreground);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: green;
  --accent-foreground: var(--primary-foreground);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: var(--primary-foreground);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --breakpoint-3xs: 20rem;
  --breakpoint-2xs: 22.5rem;
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --step: 0.25rem;
}

body {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
span,
a,
label {
  font-family: "Roboto", sans-serif;
}
